<mat-card>
    <mat-card-header>
        <h1>Reset Password</h1>
    </mat-card-header>
    <mat-card-content>

        <form class="example-form" [formGroup]="resetpassform">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" >
            </mat-form-field>
              <mat-form-field>
                <mat-label>New password</mat-label>
                <input matInput formControlName="password" >
              </mat-form-field>
              <button mat-raised-button color="accent" class="forgot-btn" (click)='proceedResetPassword()'>Reset password!</button>
              
        </form>

    </mat-card-content>
</mat-card>