.btn-primary {
    margin: 2%;
}

.normal-font {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    /* Add more font properties as needed */
  }

  .warning {
    color: red;
  }